/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem 2rem;
    font-weight: var(--font-medium);
    border-radius: 3rem;
    transition: .3s;
}

.button:hover {
  background-color: var(--btn-color);
  transform: scale(1.1);
}
